/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    font-family: Arial, sans-serif;
    background-image: url('./assets/background-mobile.png');
    background-size: cover;
    background-repeat:repeat;
    background-attachment: fixed;
}



.cross {
    
    width: 100px; 
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 1; 
}

.circle {
    width: 100px; 
    position: absolute;
    top: 50%;
    left: 70%;
    z-index: 1; 
}

.arrow {
    width: 100px; 
    position: absolute;
    top: 20%;
    left: 70%;
    z-index: 1; 
}

.shape {
    width: 120px; 
    position: absolute;
    bottom: 10%;
    left: 10%;
    z-index: 1; 
}

.cross, .circle, .arrow, .shape {
    width: 100px;
    position: absolute;
    z-index: 1;
}

.spin {
    animation: spin 7s linear infinite;
}

/*--------------------------------------------------------------------------*/


@media screen and (min-width: 900px) {
    body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        background-image: url('./assets/background.png');
        background-size: cover;
        background-repeat:repeat;
        background-attachment: fixed;
    }

    



}
