/** controls content | about me, skills and projects containers*/



.about-me-container,
.skills-container,
.projects-container, 
.contact-container {
    grid-column: 1 / 5;
    display: none;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.601);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 20px;
    color: #071139;
    z-index:20;
}

.skills-container {
    font-size: 15px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

.about-me-content p,
.project-frames,
.contact-container h4 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
}

.mail {
    display:flex;
    justify-content: center;
    font-size: 30px;
}
.skills-content {
    display: flex;
    justify-content: space-around; 
    flex-direction: column;
  }

.skills-content div {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 5px;
    text-align: center;
}






.small-text {
    font-size: 15px;
}

.skills-content ion-icon:hover {
    background-color: rgb(205, 252, 110);
    border-radius: 50px;
}

.skills-content img:hover {
    background-color: rgb(205, 252, 110);
    border-radius: 50px;
}




.project-card {
    margin-bottom: 20px;
}

.project-card p {
    text-wrap: wrap;
    
}
.project-frames {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat (4, 1fr);
    grid-auto-columns: 1fr;
}

.project-card h4 {
    padding: 10px;
}

.project-card img {
    width:200px;
    border-radius: 20px;
}


.project-card p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
    padding: 5px;
}

.clicktoview {
    color: #ffffff;
    font-family: 'Righteous', sans-serif;
    font-size: 8px;
    padding: 5px;
    background-color:#071139 ;
    border-radius: 20px;
}

.gitlink {
    font-size: 20px;
}

.icon-container-c {
    display: flex;
    justify-content: center;
}

.icon-link-c ion-icon {
    display:flex;
    padding: 20px;
    font-size: 30px;
    color: #071139;
}

.icon-link-c ion-icon:hover {
    background-color:rgb(205, 252, 110);
    border-radius: 50px;
}

.title {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Righteous', sans-serif;
    color: #071139;
}


/*----------------------------------------------------------------------------------------------------*/ 

    @media screen and (min-width: 900px) {
        .about-me-container,
        .skills-container,
        .projects-container, 
        .contact-container {
            display: none;
            margin-bottom: 250px;
            margin-top: 200px;
            margin-left: 150px;
            margin-right: 150px;
            padding: 20px;
            background: rgba(255, 255, 255, 0.601);
            backdrop-filter: blur( 4.5px );
            -webkit-backdrop-filter: blur( 4.5px );
            border-radius: 20px;
            color: #071139;
            z-index:20;
        }

        .about-me-content p,
        .project-frames,
        .contact-container h4 {
            padding: 15px;
            text-align: center;
            font-family: 'Exo 2', sans-serif;
            font-size: 25px;
        }

        .skills-content {
            display:flex;
            justify-content: center;
            font-size: 30px;
        }

        .skills-content div {
            padding: 10px;
        }

        .skills-content ion-icon {
            font-size: 70px;
            padding: 20px;
        }

        .skills-content ion-icon:hover {
            background-color: rgb(205, 252, 110);
            border-radius: 50px;
        }
        
        .skills-content .small-text {
            padding: 10px;
        }

        .title {
            text-align: center;
            padding: 10px;
            margin-bottom: 10px;
            font-size: 40px;
            font-family: 'Righteous', sans-serif;
            color: #071139;
        }


        .icon-link-c ion-icon {
            padding: 20px;
            font-size: 40px;
            color: #071139;
        }

        
        .project-frames {
            display: grid;
            gap: 1.5rem;
            grid-template-columns: repeat (4, 1fr);
            grid-auto-columns: 1fr;
        }

        .project-card h4 {
            padding: 10px;
        }

        .project-card img {
            width:600px;
            border-radius: 20px;
        }
        

        .project-card p {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font-size: 20px;
            
        }

        .clicktoview {
            color: #ffffff;
            font-family: 'Righteous', sans-serif;
            font-size: 10px;
            padding: 10px;
            background-color:#071139 ;
            border-radius: 20px;
        }

        .gitlink {
            font-size: 20px;
        }



    }
