/** controls contact-conatiner*/



.contact-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;
    /* box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.2); */
    transition: 0.3s ease box-shadow;
}

.contact-info h3{
  display: flex;
  padding: 20px;
  justify-content: center;
  font-size: 5vw;
}

.contact-info h4{
  display: flex;
  padding: 20px;
  justify-content: center;
  font-size: 5vw;
}