/** controls content | about me, skills and projects containers*/



.about-me-container,
.skills-container,
.projects-container, 
.contact-container {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 20px;
    display: none;
    background: rgba(255, 255, 255, 0.203);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 20px;
    color: #071139;
}

.about-me-content p,
.skills-content p,
.projects-content div,
.contact-container h4 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
}

.projects-container .project-frames {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.icon-container-c {
    display: flex;
    justify-content: center;
}

.icon-link-c ion-icon {
    display:flex;
    padding: 20px;
    font-size: 30px;
    color: #071139;
}

.title {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Righteous', sans-serif;
    color: #071139;
}


@media screen and (min-width: 900px) {
    .about-me-container,
    .skills-container,
    .projects-container, 
    .contact-container {
        margin-top: 20px;
        margin-top: 20px;
        margin-left: 100px;
        margin-right: 100px;
        padding: 20px;
        display: none;
        background: rgba(255, 255, 255, 0.203);
        backdrop-filter: blur( 4.5px );
        -webkit-backdrop-filter: blur( 4.5px );
        border-radius: 20px;
        color: #071139;
    }

    .about-me-content p,
    .skills-content p,
    .projects-content div,
    .contact-container h4 {
        padding: 15px;
        text-align: center;
        font-family: 'Exo 2', sans-serif;
        font-size: 25px;
}

    .title {
        text-align: center;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 40px;
        font-family: 'Righteous', sans-serif;
        color: #071139;
}


.icon-link-c ion-icon {

    padding: 20px;
    font-size: 40px;
    color: #071139;
}
}
