/** controls content | about me, skills and projects containers*/



.about-me-container,
.skills-container,
.projects-container, 
.contact-container {
    grid-column: 1 / 5;
    display: none;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.601);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 20px;
    color: #071139;
}

.about-me-content p,
.skills-content p,
.project-frames,
.contact-container h4 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
}

.project-card {
    margin-bottom: 20px;
}

.project-card p {
    text-wrap: wrap;
    
}

.icon-container-c {
    display: flex;
    justify-content: center;
}

.icon-link-c ion-icon {
    display:flex;
    padding: 20px;
    font-size: 30px;
    color: #071139;
}

.title {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Righteous', sans-serif;
    color: #071139;
}


@media screen and (min-width: 900px) {
    .about-me-container,
    .skills-container,
    .projects-container, 
    .contact-container {
        display: none;
        margin-bottom: 250px;
        margin-top: 200px;
        margin-left: 150px;
        margin-right: 150px;
        padding: 20px;
        background: rgba(255, 255, 255, 0.601);
        backdrop-filter: blur( 4.5px );
        -webkit-backdrop-filter: blur( 4.5px );
        border-radius: 20px;
        color: #071139;
    }

    .about-me-content p,
    .skills-content p,
    .project-frames,
    .contact-container h4 {
        padding: 15px;
        text-align: center;
        font-family: 'Exo 2', sans-serif;
        font-size: 25px;
    }

    .title {
        text-align: center;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 40px;
        font-family: 'Righteous', sans-serif;
        color: #071139;
    }


    .icon-link-c ion-icon {
        padding: 20px;
        font-size: 40px;
        color: #071139;
    }

    
    .project-frames {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat (4, 1fr);
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
    }

    .project-card {
        border: 2px solid black; 
    }

    .project-card p {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border: 2px solid black;
        font-size: 20px;
        
    }

    .project-card:nth-child(1) {
        grid-column: 1 / span 2;
    }

    .project-card:nth-child(2) {
        grid-column: span 1;
    }

    .project-card:nth-child(3) {
        grid-column: span 1;
    }

    .project-card:nth-child(4) {
        grid-column: span 2;
    }

    .project-card:nth-child(5) {
       
    
    }

    .project-card:nth-child(6) {
       
    
    }

}
