
.hamburger {
    display: flex;
    cursor: pointer;
    position: fixed;
    top: 5px; 
    right: 10px;
    transition: color 0.3s;
    z-index: 999;
}

.hamburger ion-icon {
    font-size: 4em;
    color: rgb(162, 166, 166);
}

body.menu-open .nav-list ul {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000; /* Background color for the expanded menu */
    color: #fff;
    flex-direction: column;
    z-index: 998;
    color: #fff; 
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}


a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 10vh;
}
    



.nav-list ul {
    display: none;
    flex-direction: column;
    background-color: #333; /* Background color for the menu */
    position: absolute;
    left: 0;
    right: 0;
}

.nav-list ul.active {
    display: flex;
}




header {
    display: grid; 
    grid-column: 1 / 5;
    border: 5px solid #249f4f;
    position: sticky;
}

/** controls PORTFOLIO header*/
.header-portfolio h1{
    text-align: left;
    font-size: 10vw;
    position: sticky;
    top: 0px;
    background-color: #ffffff;
    color: black;
    margin-bottom: 20px;
    width: max-content;
    border: 5px solid #d61b1b;
}

/** controls container of name-conatiner, nav*/

.top-bar {
    display: block;
    background-color: #ffffff;
    border: 2px solid #e41acc;
}
.name-container {
    width: max-content;
    border: 2px solid #000000;
}



.icons {
    width: max-content;
    top: 200px;
    left: 20px;
    color: black;
    border: 2px solid #000000;
}

.icon-link ion-icon {
    font-size: 20px;
    padding: 2px;
    color: black;
}


.profile-container {
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
}

.profile {
    max-width: 20vw;
    height: auto;
    /* *positon relative? top: left:*/  
}



footer {
    margin:20px;
}




