
.hamburger {
    display: flex;
    cursor: pointer;
    position: fixed;
    top: 5px; 
    right: 20px;
    transition: color 0.3s;
    z-index: 999;
    background-color: rgb(205, 252, 110);
    border-radius:50%;
}

.hamburger ion-icon {
    font-size: 3em;
    -webkit-text-stroke: 2px rgb(205, 252, 110) ; 
    color: rgb(255, 255, 255); 
}

body.menu-open .nav-list ul {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #607d99; 
    color: #fff;
    flex-direction: column;
    z-index: 998;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}


a {
    font-size: 4em;
    font-family: 'Righteous', sans-serif;
    -webkit-text-stroke: 2px rgb(205, 252, 110);
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 50px;
    text-shadow: 3px 3px #151b39;
    
}
    



.nav-list ul {
    display: none;
    flex-direction: column;  
    position: absolute;
    left: 0;
    right: 0;
}

.nav-list ul.active {
    display: flex;
}




header {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 5;
    position: sticky;
    color:#fff;
    top: 0px;
}


.header-portfolio {
    text-align: left;
    position: sticky;
    top: 0px;
    margin-left: 5px;
    padding-bottom: 10px;
    z-index: 999;
    font-family: 'Righteous', sans-serif;
    font-size: 50px;
    -webkit-text-stroke: 1px rgb(205, 252, 110) ; 
    color: white; 
    z-index: 999;
}


.icon-container {
    display: flex;
    
}

.icon-link ion-icon {
    display:flex;
    margin-left: 5px;
    padding: 1px;
    font-size: 30px;
    color: rgb(252, 250, 250);
    background: rgba(25, 39, 72, 0.203);
    box-shadow: 0 8px 32px 0 rgba(12, 15, 53, 0.349);
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
}


.name-container {
    font-family: 'Pixelify Sans', sans-serif;
    color: #fdecf4;
    text-shadow: 2px 2px #151b39;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5px;
    padding-top: 5px;
}


@media screen and (min-width: 900px) {
    .hamburger {
        display: none;
    }

    .nav-list ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 50px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.52);
        backdrop-filter: blur( 1.5px );
        -webkit-backdrop-filter: blur( 1.5px );
        border-radius: 20px;
        position: fixed;
        
    }

    a {
        font-size: 4em;
        font-family: 'Righteous', sans-serif;
        color: rgb(15, 23, 70);
        -webkit-text-stroke: 0px rgb(12, 15, 53);
        text-decoration: none;
        text-align: center;
        font-size: 50px;
        text-shadow: none;
    }

    .header-portfolio {
        font-size: 150px;
    }

    .icon-link ion-icon {
        font-size: 50px;
        background: rgba(25, 39, 72, 0.203);
        box-shadow: 0 8px 32px 0 rgba(12, 15, 53, 0.349);
        backdrop-filter: blur( 9.5px );
        -webkit-backdrop-filter: blur( 9.5px );
        border-radius: 10px;
        margin: 10px;
        padding: 1px;
    }

    .name-container {
        font-family: 'Pixelify Sans', sans-serif;
        color: #fdecf4;
        text-shadow: 2px 2px #151b39;
        font-size: 40px;
        margin-left: 10px;
        padding-top: 20px;
    }

}









